h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    color: white;
    text-align: center;
    background-image: url("https://media.istockphoto.com/vectors/blurred-bokeh-light-on-dark-blue-background-christmas-and-new-year-vector-id1128429212?k=20&m=1128429212&s=612x612&w=0&h=3tgc_kFdN4bPi_5MAc7xQEsCBh2mHdzBOY7Y3u2reWw=");
}
